<!-- <h1>Home#thrill_index</h1>
<p>Find me in app/views/home/thrill_index.html.erb</p> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <meta name="author" content="Margarita Serrano">

    <meta name="keywords" content="Margarita Serrano - Founder, www.facebook.com/ThrillLifeProductions, People,nightlifepersonal,new york nightlifes,thrilllifeproduction,margarita, #doit4thethrill, #thrillin4alivin,hospitality, thrillin4alivin, PR, public relations, event planner, promoter, brooklyn, Terminator Records Night with Alexander Technique / Krames / Becka / Max Sprauer; at Elsewhere, New York · Becka, Alexander Technique, Margarita Serrano - Founder - Thrill Life Productions | LinkedIn">
    <meta name="description" content="www.facebook.com/ThrillLifeProductions, Margarita Serrano - Founder, The biggest players and coolest places that make NYC nightlife tick.">


    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Adobe typekit fonts-->
    <script src="https://use.typekit.net/qcd8sjb.js"></script>
    <script>try{Typekit.load({ async: true});}catch(e){}</script>

  </head>
  <body>
     <!-- navbar -->
     <nav class="navbar fixed-top navbar-toggleable-sm navbar-dark bg-faded">
       <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
         <a class="navbar-brand" href="/"><img src="./assets/record3ps.png" style="width:9%">Thrill Life Productions</a>
           <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
             <ul class="navbar-nav">
               <li class="nav-item active">
               <a class="nav-link" href="/">EVENTS  <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="/music">Artist</a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="/events">Merchandise</a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="/about">About</a>
               </li>
             </ul>
           </div>
         </nav>
    <!--header with btn  -->

<!--  ===========events== upcoming events====end=====events.scss============== -->


<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

  <!-- Header -->
  <header class="w3-container w3-med w3-padding-24">
    <a href="#" class="w3-left w3-button w3-white">UPCOMING EVENTS</a>
    <a href="/music" class="w3-right w3-button w3-white">ARTIST</a>
  </header>

  <!-- Photo Grid  UPCOMING EVENTS IMAGES WITH LINKS-->
  <div class="w3-row">
    <div class="w3-half">
      <video width="500" controls>
        <source src="./assets/Video.ogg" type="video/ogg">
        Your browser does not support HTML5 video.
      </video>
      <a href="https://www.facebook.com/pg/ThrillLifeProductions/events/?ref=page_internal">
      <img src="./assets/june_29_marc_kinchen.png" style="width:100%"></a>
      <a href="https://www.facebook.com/pg/ThrillLifeProductions/events/?ref=page_internal">
      <img src="./assets/june_30_anthony_attalla.jpg" style="width:100%"></a>
      <a href="https://www.facebook.com/pg/ThrillLifeProductions/events/?ref=page_internal">
      <img src="./assets/july_3_oscar.jpeg" style="width:100%"></a>


    </div>

    <div class="w3-half">
      <a href="https://www.ticketweb.com/event/summer-series-we-love-colombia-circle-line-cruises-tickets/8432925?pl=circleline&REFID=Thrill">
      <img src="./assets/july_20_boat_party.jpeg" style="width:100%"></a>
      <a href="https://www.residentadvisor.net/events/1121976">
      <img src="./assets/aug_11_ari.jpg" style="width:100%"></a>
      <a href="https://www.ticketfly.com/purchase/mobile/index/1716939?utm_source=thrilllife">
      <img src="./assets/aug_17_fisher" style="width:100%"></a>
    </div>
  </div>

<!-- End Page Content -->
</div>

<!-- Footer / About Section -->
<footer class="w3-light-grey w3-padding-64 w3-center" id="about">
  <!--ARTIST SECTION  -->
  <section class="hero text-center">
     <div class="container">
          <h2 class="our-music"><a href="/events"> <br><b>SHOP OUR MERCHANDISE</b></a></h2><br><br>

      </section>
  <!--ARTIST SECTION END  -->
  </footer>



<!--  ===========footer / soical media=======start===home.scss================= -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <p>Thrills Life Productions 2017</p>
      </div>
      <div class="col-lg-7">
        <ul class="list-inline social-links">
            <li class="list-inline-item social-link">
                <a href="https://www.facebook.com/ThrillLifeProductions"><i class="fa fa-facebook" style="font-size:25px;color:white"></a></i></li>

            <li class="list-inline-item social-link">
                <a href="https://twitter.com/THRILLEST_1"><i class="fa fa-twitter" style="font-size:25px;color:white"></a></i></li>

            <li class="list-inline-item social-link">
              <a href="https://www.instagram.com/thrill_life_productions/"><i class="fa fa-instagram" style="font-size:25px;color:white"></a></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


  <%= yield %>
</body>
<!--  ===========footer / soical media====end======home.scss================= -->
