<!-- <h1>Events#upcoming_events</h1>
<p>Find me in app/views/events/upcoming_events.html.erb</p> -->

<!--  ===========events==/ upcoming events===start======== -->
<!-- <h1>Home#thrill_index</h1>
<p>Find me in app/views/home/thrill_index.html.erb</p> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Adobe typekit fonts-->
    <script src="https://use.typekit.net/qcd8sjb.js"></script>
    <script>try{Typekit.load({ async: true});}catch(e){}</script>

  </head>
  <body>
     <!-- navbar -->
      <nav class="navbar fixed-top navbar-toggleable-sm navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
         </button>
          <a class="navbar-brand" href="#">Thrill Life Productions</a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/music">Artist</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/events">Upcoming Events</a>
            </li>
          </ul>
        </div>
      </nav>
    <!--header with btn  -->

<!--  ===========events== upcoming events====end=====events.scss============== -->


<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

  <!-- Header -->
  <header class="w3-container w3-xlarge w3-padding-24">
    <a href="#" class="w3-left w3-button w3-white">UPCOMING EVENTS</a>
    <a href="#about" class="w3-right w3-button w3-white">ARTIST</a>
  </header>

  <!-- Photo Grid -->
  <div class="w3-row">
    <div class="w3-half">
      <img src="./assets/may_3_djHerna.jpg" style="width:100%">
      <img src="./assets/may_5_djCarlo.jpg" style="width:100%">
      <img src="./assets/may_5_djFloorplan.jpg" style="width:100%">
      <img src="./assets/may_11_djLee.jpg" style="width:100%"><br>
      <img src="./assets/do_it_4.jpg" style="width:100%">


    </div>

    <div class="w3-half">
      <a href="https://www.residentadvisor.net/events/1092428?p=ThrillLife">
      <img src="./assets/man_vs_drum.png" style="width:100%"></a>
      <img src="./assets/may_5_Cinco.jpg" style="width:100%">
      <img src="./assets/may_11.jpg" style="width:100%">
      <img src="./assets/may_17_hotRoofParty.jpg" style="width:100%">
      <img src="./assets/may_27_djChus.png" style="width:100%">
      <img src="./assets/may_28_djNina.png" style="width:100%">

    </div>
  </div>

<!-- End Page Content -->
</div>

<!-- Footer / About Section -->
<footer class="w3-light-grey w3-padding-64 w3-center" id="about">
  <h2>Man vs Drum: Carlos Manaça</h2>
  <img src="./assets/man_vs_drum.png" class="w3-image w3-padding-32" width="1200" height="700">
  <form style="margin:auto;width:60%" action="/action_page.php" target="_blank">
    <p>Man vs Drum is a party that highlights live percussion and all that dare to face off against the drum on the dance floor, leaving a vibe and overall experience like no other.</p>
    <p class="w3-large w3-text-pink">Line-up <br>Carlos Manaça
      <br><a href="https://www.residentadvisor.net/dj/salivacommandos">Saliva Commandos</a>   <br>  Mike Sullivan!</p>

  </form>
  <br>
  <h2>Feel it: Ari El & D-Unity</h2>
  <img src="./assets/may_11.jpg" class="w3-image w3-padding-32" width="1200" height="400">
  <form style="margin:auto;width:60%" action="/action_page.php" target="_blank">
    <p>Ari El's brand “Feel it” returns to NY’s staple club Cielo. The purpose behind Feel it is for everyone to come together under 1 roof and have an experience that we can all Feel. For this installment Ari El welcomes top techno producer D-Unity.</p>
    <p class="w3-large w3-text-pink">Line-up <br>
      <a href="https://www.residentadvisor.net/dj/ariel-us">Ari El</a>
      <br><a href="https://www.residentadvisor.net/dj/d-unity">D-Unity</a>
      <br><a href="https://www.residentadvisor.net/dj/diegogarcia">Diego Garcia</a><br>
   </p>

  </form>

</footer>



<!--  ===========footer / soical media=======start===home.scss================= -->

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <p>Thrills Life Productions 2017</p>
            </div>
            <div class="col-lg-7">
              <ul class="list-inline social-links">
                  <li class="list-inline-item social-link"><a href="https://www.facebook.com/ThrillLifeProductions">Facebook</a></li>
                  <li class="list-inline-item social-link"><a href="#">Twitter</a></li>
                  <li class="list-inline-item social-link"><a href="https://www.instagram.com/thrill_life_productions/">Instagram</a></li>
              </ul>

            </div>
          </div>
        </div>
      </footer>


  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


  <%= yield %>
</body>
<!--  ===========footer / soical media====end======home.scss================= -->
