<!-- <h1>Events#upcoming_events</h1>
<p>Find me in app/views/events/upcoming_events.html.erb</p> -->

<!--  ===========events==/ upcoming events===start======== -->
<!-- <h1>Home#thrill_index</h1>
<p>Find me in app/views/home/thrill_index.html.erb</p> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thrill Life Productions - https://www.thrillin4alivin.com/</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <meta name="author" content="Margarita Serrano">

    <meta name="keywords" content="Margarita Serrano - Founder, www.facebook.com/ThrillLifeProductions, People,nightlifepersonal,new york nightlifes,thrilllifeproduction,margarita, do it 4 the thrill, thrillin 4 a livin,hospitality, thrillin, 4 a livin, PR, public relations, event planner, promoter, brooklyn, Terminator Records Night with Alexander Technique / Krames / Becka / Max Sprauer; at Elsewhere, New York · Becka, Alexander Technique, Margarita Serrano - Founder - Thrill Life Productions | LinkedIn">
    <meta name="description" content="www.facebook.com/ThrillLifeProductions, Margarita Serrano - Founder, The biggest players and coolest places that make NYC nightlife tick.">


    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Adobe typekit fonts-->
    <script src="https://use.typekit.net/qcd8sjb.js"></script>
    <script>try{Typekit.load({ async: true});}catch(e){}</script>

  </head>
  <body>
     <!-- navbar -->
     <nav class="navbar fixed-top navbar-toggleable-sm navbar-dark bg-faded">
       <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
         <a class="navbar-brand" href="/"><img src="./assets/record3ps.png" style="width:9%">Thrill Life Productions</a>
           <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
             <ul class="navbar-nav">
               <li class="nav-item active">
               <a class="nav-link" href="/">EVENTS  <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="/music">Artist</a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="/events">Merchandise</a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="/about">About</a>
               </li>
             </ul>
           </div>
         </nav>
    <!--header with btn  -->

<!--  ===========events== upcoming events====end=====events.scss============== -->
<div class="shopify">
  <!--DADDY HAT - THRILLIN 4 LIVIN  -->
  <br><br>
  <div id='product-component-1527192957837'></div>
    <script type="text/javascript">
    /*<![CDATA[*/
      (function () {
        var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
        if (window.ShopifyBuy) {
          if (window.ShopifyBuy.UI) {
            ShopifyBuyInit();
          } else {
            loadScript();
          }
        } else {
          loadScript();
        }

      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }

      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'thrill-life-productions.myshopify.com',
          apiKey: '0ab7b41211f272914d9ee5dbff3286b7',
          appId: '6',
        });

        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('product', {
            id: [843267375219],
            node: document.getElementById('product-component-1527192957837'),
            moneyFormat: '${{amount}}',
            options: {"product":{"layout":"horizontal","variantId":"all","width":"100%","contents":{"img":false,"imgWithCarousel":true,"variantTitle":false,"description":true,"buttonWithQuantity":false,"quantity":false},"styles":{"product":{"text-align":"left","@media (min-width: 601px)":{"max-width":"100%","margin-left":"0","margin-bottom":"50px"}},"title":{"font-size":"26px"},"price":{"font-size":"18px"},"compareAt":{"font-size":"15px"}}},"cart":{"contents":{"button":true},"styles":{"footer":{"background-color":"#ffffff"}}},"modalProduct":{"contents":{"img":false,"imgWithCarousel":true,"variantTitle":false,"buttonWithQuantity":true,"button":false,"quantity":false},"styles":{"product":{"@media (min-width: 601px)":{"max-width":"100%","margin-left":"0px","margin-bottom":"0px"}}}},"productSet":{"styles":{"products":{"@media (min-width: 601px)":{"margin-left":"-20px"}}}}},
          });
        });
      }
    })();
    /*]]>*/
    </script>
    <br><br><br><br><br>

    <!--DADDY HAT - DO IT 4 THRILL  -->
    <div id='product-component-1527193097259'></div>
    <script type="text/javascript">
    /*<![CDATA[*/
      (function () {
        var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
        if (window.ShopifyBuy) {
          if (window.ShopifyBuy.UI) {
            ShopifyBuyInit();
          } else {
            loadScript();
          }
        } else {
          loadScript();
        }

      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }

      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'thrill-life-productions.myshopify.com',
          apiKey: '0ab7b41211f272914d9ee5dbff3286b7',
          appId: '6',
        });

        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('product', {
            id: [843331076211],
            node: document.getElementById('product-component-1527193097259'),
            moneyFormat: '${{amount}}',
            options: {"product":{"layout":"horizontal","variantId":"all","width":"100%","contents":{"img":false,"imgWithCarousel":true,"variantTitle":false,"description":true,"buttonWithQuantity":false,"quantity":false},"styles":{"product":{"text-align":"left","@media (min-width: 601px)":{"max-width":"100%","margin-left":"0","margin-bottom":"50px"}},"title":{"font-size":"26px"},"price":{"font-size":"18px"},"compareAt":{"font-size":"15px"}}},"cart":{"contents":{"button":true},"styles":{"footer":{"background-color":"#ffffff"}}},"modalProduct":{"contents":{"img":false,"imgWithCarousel":true,"variantTitle":false,"buttonWithQuantity":true,"button":false,"quantity":false},"styles":{"product":{"@media (min-width: 601px)":{"max-width":"100%","margin-left":"0px","margin-bottom":"0px"}}}},"productSet":{"styles":{"products":{"@media (min-width: 601px)":{"margin-left":"-20px"}}}}},
          });
        });
      }
    })();
    /*]]>*/
    </script>
    <br><br><br><br><br>

    <div id='product-component-1527553269175'></div>
    <script type="text/javascript">
    /*<![CDATA[*/
      (function () {
        var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
        if (window.ShopifyBuy) {
          if (window.ShopifyBuy.UI) {
            ShopifyBuyInit();
          } else {
            loadScript();
          }
        } else {
          loadScript();
        }

      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }

      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'thrill-life-productions.myshopify.com',
          apiKey: '0ab7b41211f272914d9ee5dbff3286b7',
          appId: '6',
        });

        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('product', {
            id: [864618840179],
            node: document.getElementById('product-component-1527553269175'),
            moneyFormat: '${{amount}}',
            options: {"product":{"layout":"horizontal","variantId":"all","width":"100%","contents":{"img":false,"imgWithCarousel":true,"variantTitle":false,"description":true,"buttonWithQuantity":false,"quantity":false},"styles":{"product":{"text-align":"left","@media (min-width: 601px)":{"max-width":"100%","margin-left":"0","margin-bottom":"50px"}},"title":{"font-size":"26px"},"price":{"font-size":"18px"},"compareAt":{"font-size":"15px"}}},"cart":{"contents":{"button":true},"styles":{"footer":{"background-color":"#ffffff"}}},"modalProduct":{"contents":{"img":false,"imgWithCarousel":true,"variantTitle":false,"buttonWithQuantity":true,"button":false,"quantity":false},"styles":{"product":{"@media (min-width: 601px)":{"max-width":"100%","margin-left":"0px","margin-bottom":"0px"}}}},"productSet":{"styles":{"products":{"@media (min-width: 601px)":{"margin-left":"-20px"}}}}},
          });
        });
      }
    })();
    /*]]>*/
    </script>
    <br><br>
    <!-- DO IT FOR THE THRILL SB HATS  -->
    <div id='product-component-1531766109379'></div>
    <script type="text/javascript">
    /*<![CDATA[*/
      (function () {
        var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
        if (window.ShopifyBuy) {
          if (window.ShopifyBuy.UI) {
            ShopifyBuyInit();
          } else {
            loadScript();
          }
        } else {
          loadScript();
        }

      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }

      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'thrill-life-productions.myshopify.com',
          apiKey: '0ab7b41211f272914d9ee5dbff3286b7',
          appId: '6',
        });

        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('product', {
            id: [1251845472371],
            node: document.getElementById('product-component-1531766109379'),
            moneyFormat: '${{amount}}',
            options: {"product":{"layout":"horizontal","variantId":"all","width":"100%","contents":{"img":false,"imgWithCarousel":true,"variantTitle":false,"description":true,"buttonWithQuantity":false,"quantity":false},"styles":{"product":{"text-align":"left","@media (min-width: 601px)":{"max-width":"100%","margin-left":"0","margin-bottom":"50px"}},"title":{"font-size":"26px"},"price":{"font-size":"18px"},"compareAt":{"font-size":"15px"}}},"cart":{"contents":{"button":true},"styles":{"footer":{"background-color":"#ffffff"}}},"modalProduct":{"contents":{"img":false,"imgWithCarousel":true,"variantTitle":false,"buttonWithQuantity":true,"button":false,"quantity":false},"styles":{"product":{"@media (min-width: 601px)":{"max-width":"100%","margin-left":"0px","margin-bottom":"0px"}}}},"productSet":{"styles":{"products":{"@media (min-width: 601px)":{"margin-left":"-20px"}}}}},
          });
        });
      }
    })();
    /*]]>*/
    </script>

    <br><br><br><br>
    <!-- T-SHIRT   -->
    <div id='product-component-1531449522317'></div>
    <script type="text/javascript">
    /*<![CDATA[*/
      (function () {
        var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
        if (window.ShopifyBuy) {
          if (window.ShopifyBuy.UI) {
            ShopifyBuyInit();
          } else {
            loadScript();
          }
        } else {
          loadScript();
        }

      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }

      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'thrill-life-productions.myshopify.com',
          apiKey: '0ab7b41211f272914d9ee5dbff3286b7',
          appId: '6',
        });

        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('product', {
            id: [1229073842291],
            node: document.getElementById('product-component-1531449522317'),
            moneyFormat: '${{amount}}',
            options: {"product":{"layout":"horizontal","variantId":"all","width":"100%","contents":{"img":false,"imgWithCarousel":true,"variantTitle":false,"description":true,"buttonWithQuantity":false,"quantity":false},"styles":{"product":{"text-align":"left","@media (min-width: 601px)":{"max-width":"100%","margin-left":"0","margin-bottom":"50px"}},"title":{"font-size":"26px"},"price":{"font-size":"18px"},"compareAt":{"font-size":"15px"}}},"cart":{"contents":{"button":true},"styles":{"footer":{"background-color":"#ffffff"}}},"modalProduct":{"contents":{"img":false,"imgWithCarousel":true,"variantTitle":false,"buttonWithQuantity":true,"button":false,"quantity":false},"styles":{"product":{"@media (min-width: 601px)":{"max-width":"100%","margin-left":"0px","margin-bottom":"0px"}}}},"productSet":{"styles":{"products":{"@media (min-width: 601px)":{"margin-left":"-20px"}}}}},
          });
        });
      }
    })();
    /*]]>*/
    </script>

    <br><br>
</div>





<!--  ===========footer / soical media=======start===home.scss================= -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <p>Thrills Life Productions 2017</p>
      </div>
      <div class="col-lg-7">
        <ul class="list-inline social-links">
            <li class="list-inline-item social-link">
                <a href="https://www.facebook.com/ThrillLifeProductions"><i class="fa fa-facebook" style="font-size:25px;color:white"></a></i></li>

            <li class="list-inline-item social-link">
                <a href="https://twitter.com/THRILLEST_1"><i class="fa fa-twitter" style="font-size:25px;color:white"></a></i></li>

            <li class="list-inline-item social-link">
              <a href="https://www.instagram.com/thrill_life_productions/"><i class="fa fa-instagram" style="font-size:25px;color:white"></a></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <%= yield %>
</body>
<!--  ===========footer / soical media====end======home.scss================= -->
