// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ==events ======our shows/events====start==============

//Upcoming Events

.shopify {
  background: white;
  margin: auto;
  padding: 10px;
}

.w3-row img {
  margin-bottom: -8px
}

.display-2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
}

.shows {
  margin-top: 2em;
  font-size: .9em;
  color: white;
  background-color: black;
}

.show-title {
  font-family: sans-serif;
  color: white;
}

.show-info {
  display: flex;
  flex-direction: column;
  color: white;

}
// > * direct decend of show-info will get a margin 0
.show-info > * {
  margin-bottom: 0;
}

.address {
  color: white;
  font-weight: bold;
  margin-top: 1.25em;

  &::before {
    display: inline-block;
    margin-right: 0.5em;
  }
}

.date {
  color: white;
  font-weight: bold;
  margin-top: 1.25em;

  &::before {
    content: '\f133';
    display: inline-block;
    font-family: FontAwesome;
    margin-right: 0.5em;
  }
}

.price {
  color: white;
  font-weight: bold;

  small {
    font-weight: normal;
  }

  &::before {
    content: '\f145';
    display: inline-block;
    font-family: FontAwesome; //<i class="fa fa-calendar-o" aria-hidden="true"></i>
    margin-right: 0.5em;
  }
}
// ==events ======our shows/events====end==============
