// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ==events ======our shows/events====start==============

.shows {
  margin-top: 2em;
  font-size: .9em;
  color: white;
  background-color: $gray-light;
}

.show-title {
  font-family: sans-serif;
}

.show-info {
  display: flex;
  flex-direction: column;
}
// > * direct decend of show-info will get a margin 0
.show-info > * {
  margin-bottom: 0;
}

.date {
  font-weight: bold;
  margin-top: 1.25em;

  &::before {
    content: '\f133';
    display: inline-block;
    font-family: FontAwesome;
    margin-right: 0.5em;
  }
}

.price {
  font-weight: bold;

  small {
    font-weight: normal;
  }

  &::before {
    content: '\f145';
    display: inline-block;
    font-family: FontAwesome; //<i class="fa fa-calendar-o" aria-hidden="true"></i>
    margin-right: 0.5em;
  }
}
// ==events ======our shows/events====end==============
