// Place all the styles related to the music controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.mosaic {
  background: black;
  color: #c4c4c4;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.45;
  display: flex;
  flex-wrap: wrap;
}

// ===================
// Main Content area
// ===================

.main-content {
  padding: 10%;
  flex: 1 1 80%;
  min-height: 100vh;

}



// ===================
// Portfolio
// ===================

.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.portfolio-item {
  background: #f96855;
  color: #c4c4c4;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;


  // Moved these from the .two, thought it made
  // more sense like this.
  font-size: 1.5em;
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;

  &.small {
    grid-row: span 1;
    grid-column: span 1;
  }

  &.medium {
    grid-row: span 2;
    grid-column: span 2;
  }

  &.large {
    grid-row: span 3;
    grid-column: span 3;
  }

  &.tall {
    grid-row: span 3;
    grid-column: span 2;
  }

  &.wide {
    grid-row: span 2;
    grid-column: span 3;
  }

  &:hover {
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
  }
}

.two {
  background-image: url(//unsplash.it/800/600);

  &::before {
    content: '';
    display: block;
    background: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
    z-index: -1;
  }

  &:hover::before {
    opacity: 0.2;
  }
}


// our music ===========start====================
// .our-music {
//   font-family: 'Orbitron', sans-serif;
//
// }
// .music {
//   margin-top: 0em;
//   margin-bottom: 0em;
//   background-color: black;
// }
//
// .music-container {
//   background: #f7f7f7;
//   box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.5);
//   padding-top: 8vh;
//   padding-bottom: 8vh;
// }

// .music-title {
//   margin-bottom: 0.5em;
// }
//
// .music-cta {
//   margin-top: 2em;
//   color: #f8f9fa;
// }

// parallax =========start====================

// .parallax {
//   display: none;
//   @include media-breakpoint-up(md){
//     height: 50vmax;
//     background-size: 100%;
//     background-attachment: fixed;
//     background-position: center;
//     display: block;
//   }
// }
//
// .parallax-music {
//   background-attachment: fixed;
//   height: 40vmax;
//   background-size: 100%;
//   background-position: center;
//   display: block;
  // opacity: 0.85;
  // color: black;
// }
// parallax =========end====================
// our music ===========end====================
