// Place all the styles related to the music controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// our music ===========start====================
.our-music {
  font-family: 'Orbitron', sans-serif;
}
.music {
  margin-top: 5em;
  margin-bottom: 5em;
}

.music-container {
  background: $black;
  box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.5);
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.music-title {
  margin-bottom: 0.5em;
}

.music-cta {
  margin-top: 2em;
  color: $gray-light;
}
// our music ===========end====================
